# phpstan.neon

includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app/

    excludePaths:
        - database
        - routes
        - vendor
        - storage
        - bootstrap/cache
        - tests/

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#expects numeric-string, (string|literal-string&non-falsy-string) given#'
            path: app/Services/MoneyService.php
